{#
/**
 * @file
 * Default theme implementation to display a photo.
 *
 * Available variables:
 * - photo: The photo from D500px.
 *
 */
#}
{% if photo %}
  <div class='d500px-photo'>
    {{ photo }}
  </div>
{% endif %}
