{#
/**
 * @file
 * Default theme implementation to display a photo.
 *
 * Available variables:
 * - photo: The photo from D500px.
 * - photo_page_url: The photo page url from D500px.
 *
 */
#}
{% if photo %}
  <div class='d500px-photo'>
    <a href = '{{ photo_page_url }}' target='_blank'> {{ photo }} </a>
  </div>
{% endif %}
